<ion-header class="header-page">
    <ion-toolbar class="toolbar-page">
        <ion-title>About</ion-title>
        <ion-buttons>
            <ion-menu-button menu="main-menu" color="light"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="content-page">
    <h2>
        <ion-icon name="happy-outline"></ion-icon>
        Hi, I'm Isaac Gallegos
    </h2>
    <p>
        I'm the creator of this aplicaiton
    </p>
    <img src="../../../assets/icon/icon.png" alt="">
    <h3>contact</h3>
    <ion-row>
        <ion-col>
            <ion-button href="https://github.com/IsaacGE" target="blank">
                <ion-icon name="logo-github"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button href="https://www.linkedin.com/in/jes%C3%BAs-isaac-gallegos-esquivel-625948235/" target="blank">
                <ion-icon name="logo-linkedin"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button href="https://wa.me/4491816765" target="blank">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button href="mailto:jesusisaac360@gmail.com" target="blank">
                <ion-icon name="logo-google"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
    <p>
        © ForumIG 2022 Isaac Gallegos
    </p>
</ion-content>